.menu_page_slider_dishes ul.slick-dots {
    width: 20%;
    
}

#dishes .menu_page_slider_dishes ul {
    bottom: initial;
    top: 550px;
}

#dishes .menu_page_slider_dishes ul {
    left: 14%;
}

.menu_page_slider_dishes .slick-dots li button, .menu_page_slider_drinks .slick-dots li button {
    background-color: #BDBDBD;
}

.menu_page_slider_dishes .slick-dots li, .menu_page_slider_drinks .slick-dots li {
    margin: 5% 5%;
}

.menu_page_slider_dishes .target-product {
    left: 14%;
    bottom: 22%;
}


.menu_page_slider_drinks .slick-dots {
    width: 20%;
    left: 65%;
}

.menu_page_slider_dishes ul.slick-dots {
    bottom: 10%;
}

.form_wrapper.menu .form_row {
    padding-top: 15px;
}

.form_wrapper.menu .form_btn {
    padding-top: 15px;
}

.header_menu.active {
    opacity: 1;
}

.header_menu.active  .header_menu_text_page {
    color: black;
}

.menu_page_slider_img:before {
    height: 360px;
}

.menu_page_slider_content{
    margin-bottom: 10%;
}

.menu_page_slider_dishes, .menu_page_slider_drinks {
    min-height: 650px;
}


.menu_page_slider_drinks ul.slick-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    top: 550px;
}

.btn_page_menu {
    padding-bottom: 0;
    padding-top: 0;
    margin: 50px;
}

.menu_page_slider_drinks .slick-slide img {
    height: 360px;
}

.menu_page_slider_drinks .target-product {
    left: 65%;
    top: 520px;
    bottom: initial;
}

#dishes_svg {
    transition: opacity 1.5s ease;
}
#dishes_svg.active { 
    opacity: 1;
}

.menu_page_slider_content {
    margin: 0;
}


/* Dropdown------------------ */

.slider__dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 330px;
    left: 5vw;
    width: 90vw;
    /* border: 1px solid rgba(110, 110, 110, 0.3); */
    border: 1px solid #d9b696; 
    /* color: #d9b696; */
    font-family: 'Montserrat';
    height: auto;
    min-height: 45px;
    transition: height .4s ease, width .4s ease;
    background-color: white;
    overflow: hidden;
    padding: 0;
    will-change: height, width;
    
    /* transform: skew(-5deg); */
}

.slider__dropdown.active {
    box-shadow: 0 5px 10px 1px rgba(110, 110, 110, 0.3);
    animation: showDropDown .3s ease;
    border: 1px solid transparent; 
    /* transform: skew(-5deg); */ 
}

@keyframes showDropDown {
    from{
        transform: skew(-9deg); 
        opacity: 0;
    }
    to {
        transform: skew(0deg); 
        opacity: 1;
    }
}

.dropdown__item {
    transform: translate(3px);
    opacity: 0;
    transition: transform .3s ease .3s, opacity .3s ease .1s;
}

.slider__dropdown.active .dropdown__item {
    transform: translate(-1px);
    opacity: 1;
}

.dropdown__item, .dropdown__item-header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 45px;
    min-height: 45px;
    padding-left: 15px;
    cursor: pointer;
    
    /* box-sizing: border-box; */
}

.dropdown__item-header {
    position: relative;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-bottom: none;
    transition: border .4s ease;
    color: #d9b696;
}

.dropdown__item-header:before {
    content: '';
    position: absolute;
    right : 5%;
    top: 14px;
    display: block;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    /* transition: border .4s ease .7s; */
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #d9b696;
    border-left: 1px solid #d9b696;
}

.slider__dropdown.active .dropdown__item-header:before {
    top: 15px;
    border-top: 1px solid #d9b696;
    border-right:  1px solid #d9b696;
    border-bottom: none;
    border-left: none;
}

.slider__dropdown.active .dropdown__item-header {
    /* border-bottom: 1px solid rgba(110, 110, 110, 0.3);*/
    border-bottom: 1px solid #d9b696; 
}

.dropdown__item-header.active:before {
    transform: rotate(45deg);
}

@media screen and (min-width: 1500px) {
    .form_wrapper.menu .form_row {
        padding-top: 25px;
    }
    
    .form_wrapper.menu .form_btn {
        padding-top: 25px;
    }
}

@media screen and (min-width: 1980px) {
    .form_wrapper.menu .form_row {
        padding-top: 30px;
    }
    
    .form_wrapper.menu .form_btn {
        padding-top: 30px;
    }
}
@media screen and (max-width: 1024px) {
    #dishes .menu_page_slider_dishes ul, #drinks .menu_page_slider_drinks ul{
        display: none!important;
    }

    .menu_page_slider_dishes .arrow__l, .menu_page_slider_dishes .arrow__r {
        top: 685px;
    }

    .menu_page_slider_dishes .arrow__l{
        left: 35%;
    }

    .menu_page_slider_dishes .arrow__r{
        left: 20%;
    }

    .menu_page_slider_drinks .arrow__r {
        right: 32%;
    }

    .menu_page_slider_drinks .arrow__l {
        right: 17%;
    }

    .menu_page_slider_list {
        padding: 0 0 0 20px;
    }

    .menu_page_slider_drinks .arrow__l, .menu_page_slider_drinks .arrow__r {
        top: 700px;
    }

    #dishes .menu_page_slider_dishes,  #drinks .menu_page_slider_drinks {
        position: static;
    }

    #dishes .slider__counter {
        left: 27.5%;
        top: 680px;
    }

    #drinks .slider__counter {
        left: initial;
        right: 24%;
        top: 690px;
    }

    #drinks .drinks {
        top: 6%;
    }
}

@media screen and (max-width: 800px) {
    #dishes .menu_page_slider_dishes ul, #drinks .menu_page_slider_drinks ul{
        display: none!important;
    }

    .menu_page_slider_dishes .arrow__l, .menu_page_slider_dishes .arrow__r {
        top: 685px;
    }
   
    .menu_page_slider_dishes .arrow__r, .menu_page_slider_drinks .arrow__r{
        left: 38%;
        right: initial;
        
    }

    .menu_page_slider_list {
        padding: 0;
    } 

    /* .menu_page_slider_list table {
        display: flex;
        width: 100%;

    }

    .menu_page_slider_list table tbody {
        width: 100%;
    }

    .menu_page_slider_list table tr {
        display: flex;
        width: 100%;
        justify-content: space-between;
    } */

    .menu_page_slider_img {
        margin-bottom: 30px;
    }

    .menu_page_slider_dishes .arrow__l, .menu_page_slider_drinks .arrow__l {
        right: 38%;
        left: initial;
    }

    .menu_page_slider_drinks .arrow__l, .menu_page_slider_drinks .arrow__r {
        top: 685px;
    }

    #dishes .menu_page_slider_dishes,  #drinks .menu_page_slider_drinks {
        position: static;
    }

    #dishes .slider__counter, #drinks .slider__counter {
        left: 46%;
        top: 680px;
    }

    #drinks .drinks {
        top: 6%;
    }
}

@media only screen and (max-width: 480px) {
    .slider_right_part {
        bottom: 210px;
    }

    .menu_page_slider_heading {
       top: 0;
   
    }

    #btn_menu_page {
        padding: 0;
    }

    #dishes .menu_page_slider_dishes,  #drinks .menu_page_slider_drinks {
        position: relative;
    }

    #dishes .slider__counter {
        left: 0;
    }

    .menu_page_slider_drinks .slick-slide img {
        height: auto;
    }

    .menu_page_slider_dishes .arrow__l, .menu_page_slider_dishes .arrow__r {
        top: 345px;
    }

    .menu_page_slider_drinks .arrow__l, .menu_page_slider_drinks .arrow__r {
        top: 375px;
    }

    .menu_page_slider_drinks .slider__counter {
        top: 370px;
    }

    .menu_page_slider_dishes .arrow__r, .menu_page_slider_drinks .arrow__r{
        left: 25%;
    }

    .menu_page_slider_dishes .arrow__l, .menu_page_slider_drinks .arrow__l {
        right: 25%;
    }

    #dishes .menu_page_slider_dishes ul, #drinks .menu_page_slider_drinks ul{
        display: none!important;
    }

    .menu_page_slider_list {
        width: 90%;
    }

    #dishes {
        padding-top:  130px;
    }

    #dishes .slider__counter {
        top: 470px;
        display: none;
    }

    .menu_page_slider_dishes ul.slick-dots {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 50px;
        width: 100%;
        top: 30%;
    }

    #dishes .menu_page_slider_dishes ul {
        left: 0;
    }

    .menu_page_slider_content {
        padding: 60px 0 0 0;
    }

    .slider_heading {
        font-size: 40px;
    }

    #dishes_svg, #drinks_svg {
        opacity: 1;
    }




    /* FIxed slider */
    /* .menu_page_slider_content {
        display: flex!important;
        flex-direction: column;
        padding: 0;
    }

    .menu_page_slider_heading {
        position: static;
    }

    .menu_page_slider_img img {
        width: auto;
        height: 260px;
    } */

    /* menu_page_slider_dishes */
}

@media only screen and (max-width: 350px) {
    .menu_page_slider_dishes ul.slick-dots {

        top: 34%;
    }
}


